body {
  margin: 0;
  /* padding-right: 2rem; Add right padding */
  padding-bottom: 3rem; /* Prevents footer overlap */
  color: #eaeaea;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
  line-height: 1.5;
  background-color: #1b1f26;
  overflow-x: hidden; /* Prevent horizontal scroll */
}
.navbar {
  margin-top: 0 !important;
  padding-top: 0 !important;
}
.navbar-nav .nav-link {
  color: #fff;
  padding-top: 0.7em;
  padding-bottom: 0.7em;
}
.dropend .dropdown-toggle {
  color: salmon;
  margin-left: 1em;
}
.dropdown-item:hover {
  background-color: lightsalmon;
  color: #fff;
}
.dropdown .dropdown-menu {
  display: none;
}
.dropdown:hover > .dropdown-menu,
.dropend:hover > .dropdown-menu {
  display: block;
  margin-top: 0.125em;
  margin-left: 0.125em;
}
@media screen and (min-width: 769px) {
  .dropend:hover > .dropdown-menu {
    position: absolute;
    top: 0;
    left: 100%;
  }
  .dropend .dropdown-toggle {
    margin-left: 0.5em;
  }
}

/* Sidebar container */
.sidebar {
  width: 250px;
  background-color: #1b1f26;
  color: #fff;
  padding: 20px;
}

.profile_name, .bio, .menu li a{
  color:#ccc;
}

/* Profile section */
.profile img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.profile h3 {
  font-size: 1.0rem;
  margin: 0;
}

/* Menu items */
.menu {
  list-style: none;
  padding: 0;
}

.menu li {
  margin-bottom: 10px;
}

.menu a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
  transition: color 0.3s;
}

.menu a:hover {
  color: #00adb5;
  border-bottom: 1px solid #00adb5;
}

/*post-card*/

.archive__subtitle {
  margin: 1.414em 0 0;
  padding-bottom: 0.5em;
  font-size: 1em;
  color: #eee;
  /* border-bottom: 1px solid #494c51; */
}

::-moz-selection {
  color: #fff;
  background: #000
}

::selection {
  color: #fff;
  background: #000
}

a {
  color: #8cd2d5
}

.post-blog-card:hover {
  box-shadow: 0 0.5em 0.5em -0.4em rgba(255,255,255,0.8);
  transform: translateY(-0.25em)
}

.post-blog-card {
  min-height: 250px;
  background: transparent;
  text-decoration: none;
  background-image: url(../resources/thumbnail.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  --ribbon: red;
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
  transition: 0.3s;
  margin-bottom: 1.6%;
  line-height: 1.4;
  font-family: sans-serif;
  z-index: 0
}

@media only screen and (max-width: 480px) {
  .post-blog-card {
   min-height: 100vh;
   min-width: 20px;
   padding: 10px;
   margin: 4rem auto;
   background-image: none;
   background-size: contain;
  }
  h3{
    text-align: center;
 }
 .post-meta{
  display: none;
 }
  }

.post-blog-card a {
  color: inherit
}

.post-blog-card a:hover {
  color: #5ad67d
}

.post-blog-card .post-meta {
  position: relative;
  z-index: 0;
  height: 200px
}

.post-blog-card .post-description {
  border-radius: 0 0 8px 8px;
  padding: 1rem;
  background: #fff;
  position: relative;
  z-index: 1
}

.post-blog-card .post-description h1,.post-blog-card .post-description h2 {
  color: #444444;
  font-family: Poppins, sans-serif
}

.post-blog-card .post-description h1 {
  line-height: 1;
  margin: 0;
  font-size: 1.2rem
}

.post-blog-card .post-description h2 {
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
  color: #a2a2a2;
  margin-top: 5px
}

.post-blog-card .post-description .post-time {
  float: right
}

.post-blog-card p {
  position: relative;
  margin: 1rem 0 0;
  font-size: 0.8rem
}

.post-blog-card p:first-of-type {
  margin-top: 1.25rem
}

.post-blog-card p:first-of-type:before {
  content: "";
  position: absolute;
  height: 5px;
  background: var(--ribbon);
  width: 35px;
  top: -0.75rem;
}

.post-blog-card .post-description {
  color: #696969
}

.post-blog-card .post-date {
  float: left;
  color: #9a9a9a
}

.post-blog-card .post-time {
  float: right;
  color: #9a9a9a
}

.post-blog-card .post-ribbon {
  border-radius: 8px 8px 0 0;
  background: var(--image-url);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  transition: transform .2s
}

.post-blog-card .post-ribbon4 {
  font-family: 'Carter One';
  font-size: 1.3rem;
  color: white;
  position: absolute;
  top: 17px;
  padding: 8px 10px;
  background: var(--ribbon);
  box-shadow: -1px 2px 3px rgba(0,0,0,0.3);
  border-radius: 0 8px 8px 0
}

.post-blog-card .post-ribbon4:before,.post-blog-card .post-ribbon4:after {
  content: "";
  position: absolute
}

.post-blog-card .post-ribbon4:before {
  width: 7px;
  height: 100%;
  top: 0;
  left: -7.0px;
  padding: 0 0 7px;
  background: inherit;
  border-radius: 5px 0 0 5px
}

.post-blog-card .post-ribbon4:after {
  width: 5px;
  height: 5px;
  bottom: -5px;
  left: -5px;
  background: #E3E3E3;
  border-radius: 5px 0 0 5px
}

@media (min-width: 640px) {
  .post-blog-card {
      flex-direction:row;
      max-width: 700px
  }

  .post-blog-card .post-meta {
      flex-basis: 40%;
      height: auto
  }

  .post-blog-card .post-description {
      border-radius: 0px 8px 8px 0;
      flex-basis: 60%
  }

  .post-blog-card .post-description:before {
      transform: skewX(-3deg);
      content: "";
      background: #fff;
      width: 30px;
      position: absolute;
      left: -10px;
      top: 0;
      bottom: 0;
      z-index: -1
  }

  .post-blog-card .post-ribbon {
      border-radius: 8px 0px 0px 8px
  }

  .post-blog-card .post-ribbon4 {
      font-size: 1rem
  }
}

@media (max-width: 500px) {
  .post-blog-card .post-ribbon {
      width:100%
  }
}

/* download button */

.btn-primary{
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  background: transparent !important;
  border-radius: 4px !important;
  border: 1px solid #444444 !important;
  -webkit-border-radius: 4px !important;
  -moz-border-radius: 4px !important;
  -ms-border-radius: 4px !important;
  -o-border-radius: 4px !important;
  a{
    text-decoration: none !important;
    color: #fff !important;
  }
}

.btn-primary:hover{
  background: transparent !important;
  border-radius: 4px !important;
  border: 1px solid #00adb5 !important;
  -webkit-border-radius: 4px !important;
  -moz-border-radius: 4px !important;
  -ms-border-radius: 4px !important;
  -o-border-radius: 4px !important;
}

/* certificate page */

/*image*/
.roadmap__image {
  width: 100%;
  height: auto;
  max-height: 450px; /* limits height but keeps quality */
  border-radius: 8px;
  margin-bottom: 1.5rem;
}

/* footer */
.site-footer {
  width: 100%;
  text-align: center;
  padding: 1rem 0;
  color: #ccc;
  background: #1b1f26; /* Match navbar background */
  font-size: 1rem;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 100;
}

html, body {
  margin: 0 !important;
}